body {
    overflow-x: hidden;
}

#imgDiv {
 margin: 80px;
}

#intro {
    font-size: 1.5rem;
    
}

#textDiv {
    padding-top: 20px;
}

#signup, #login {
    width: 50%;
    display: block;
}

#loginDiv, #signupDiv {
    padding: 5px;
}

#titleDiv {
    padding-top: 30%;
    padding-left: 10px;
}

#title {
    font-size: 5rem;
}



@media screen and  (max-width: 320px) {
    #imgDiv {
        margin: 0 auto;
        width: 980px;
    }
    #Homeimg {
        width: 20rem !important;
    }
    
    #intro {
        font-size: 1rem;
    
        }
}

@media (max-width: 680px)  {
    #imgDiv {
        margin: 0 auto;
        width: 980px;
    }
    #Homeimg {
       
        max-width: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
       
    }
    #titleDiv {
        justify-content: center;
        padding-top: 50%;
    }
    #textDiv {
        text-align: center;
        padding-top: 10px;
    }
    #signup, #login {
        margin: auto;
    }
}


@media (max-width: 992px) and (min-width: 681px){
    #imgDiv {
        margin: 0 auto;
        width: 980px;
    }
    #Homeimg {
       
        max-width: 90%;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
       
    }
    #titleDiv {
        justify-content: center;
        padding-top: 35%;
    }
    #textDiv {
        text-align: center;
        padding-top: 10px;
    }
    #signup, #login {
        margin: auto;
    }
}

@media (max-width: 1200px) and (min-width: 993px) {
    #Homeimg {
        width: 35rem !important;
    }
    #titleDiv {
        
        padding-top: 35%;
        padding-left: 10px;
    }
    
}
@media (max-width: 1340px)and (min-width: 1200px) {
    #Homeimg {
        width: 40rem !important;
    }
    #titleDiv {
        
        padding-top: 35%;
        padding-left: 10px;
    }
  
}
  
